form(id='form-signin', method='POST')
	input(type='text', name='username', placeholder='Email', required, autofocus)
	input(type='password', name='password', placeholder='password', required)
	button(id='button-signin', type='submit') Sign in
#message
if message
	h1 #{message}
