extends ./layout.jade

block content
  // Canvas placeholder
  #screen
  // melonJS Library
  // build:js js/app.min.js
  script(type="text/javascript" src="../game_lib/melonJS-2.1.1.js")
  // Plugin(s)

  script(type="text/javascript" src="../game_lib/plugins/debug/debugPanel.js")
  // Game Scripts 
  script(type="text/javascript" src="../game_js/game.js")
  script(type="text/javascript" src="../game_js/resources.js")
  script(type="text/javascript" src="../game_js/char_classes.js")
  script(type="text/javascript" src="../game_js/entities/character.js")
  script(type="text/javascript" src="../game_js/entities/waitingEntity.js")
  script(type="text/javascript" src="../game_js/entities/team.js")
  script(type="text/javascript" src="../game_js/entities/tile.js")
  script(type="text/javascript" src="../game_js/entities/grid.js")
  script(type="text/javascript" src="../game_js/entities/health_ui.js")

  script(type="text/javascript" src="../game_js/ui/turn_ui.js")
  script(type="text/javascript" src="../game_js/ui/message_ui.js")
  script(type="text/javascript" src="../game_js/ui/mana_ui.js")
  script(type="text/javascript" src="../game_js/ui/page_title.js")
  script(type="text/javascript" src="../game_js/ui/char_name.js")
  script(type="text/javascript" src="../game_js/ui/char_health.js")
  script(type="text/javascript" src="../game_js/ui/start_button.js")
  script(type="text/javascript" src="../game_js/ui/choose_team_1_button.js")
  script(type="text/javascript" src="../game_js/ui/choose_team_2_button.js")
  script(type="text/javascript" src="../game_js/ui/team_name.js")
  script(type="text/javascript" src="../game_js/ui/user_name.js")

  script(type="text/javascript" src="../game_js/screens/team.js")
  script(type="text/javascript" src="../game_js/screens/game_over.js")
  script(type="text/javascript" src="../game_js/screens/title.js")
  script(type="text/javascript" src="../game_js/screens/play.js")
  <!-- /build -->
  <!-- Bootstrap & Mobile optimization tricks -->
  script(type="text/javascript" src="../game_js/window.js")
