.but {
	display:block;
	border-style:solid;
	border-color:#bbb #888 #666 #aaa;
	border-width:3px 4px 4px 3px;
	width:9em;
	height:2em;
	background:#ccc;
	color:#333;
	line-height:2;
	text-align:center;
	text-decoration:none;
	font-weight:900;

}